<div>
  <h1>Administracion de articulos</h1>
  <table border="1" *ngIf="hayRegistros(); else sinaticulos">
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Opciones</th>
    </tr>
    <tr *ngFor="let a of articulos">
      <td>{{a.codigo}}</td>
      <td>{{a.descripcion}}</td>
      <td>{{a.precio}}</td>
      <td>
        <button (click)="borrar(a.codigo)">Borrar</button>
        <button (click)="seleccionar(a)">Seleccionar</button>
      </td>
    </tr>
  </table>
  <ng-template #sinaticulos>
    <p><b>Sin articulos</b></p>
  </ng-template>

  <div>
    <p><b>Codigo:</b><input [(ngModel)]="art.codigo"></p>
    <p><b>Descripcion:</b><input [(ngModel)]="art.descripcion"></p>
    <p><b>Precio:</b><input [(ngModel)]="art.precio"></p>
    <button (click)="agregar()" >Insertar</button>
    <button (click)="modificar()" >Modificar</button>
  </div>
</div>
